* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-cym.cym.dix -text
/apertium-cym.cym.rlx -text
/apertium-cym.pc.in -text
/autogen.sh -text
/configure.ac -text
